---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hakkımda ve Hakkında"
	description="Kısaca ben kimim? Bu site neyin nesi?"
	pubDate={new Date('02.14.3765')}
	heroImage="/kaneki1.webp"
>
	<p>
		Ben kimse değilim. Oyun oynamayı sever, müzik dinlerim;Normal
		biriyim. En kısa haliyle "kendi" olmaya çalışan biri.
	</p>
</Layout>
