---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hakkımda ve Hakkında"
	description="Kısaca ben kimim? Bu site neyin nesi?"
	pubDate={new Date('02.14.3765')}
	heroImage="/kaneki1.jpg"
>
	<p>
		Ben kimse değilim. Oyun oynamayı sever, müzik dinlerim;pek çok ilgim vardır fakat
		hiçbiri dallanıp budaklanmış değildir. Genç oluşuma bağlıyorum bunu. Ben şuan buyum.
		"Biri" olmaya çalışan biri.
	</p>
</Layout>
